/* style for the main canvas*/
body {
	display:block;
	background:grey;
}
#container {

	width:410px;
}

#mainCanvas {
	float:center;
	position:center;
	height:400px;
	width:400px;
 	border:1px solid pink;
}
/* style for the heading */
h2 {
	border:2px solid pink;
	border-radius:90%;
	text-align:center;
	float:center;
	width:400px;
	font-style:tahoma;
	color:blue;
	background:#ffd33d;
}
/* style for sub heading */
p {
	text-align:center;
	font-style:italic;
	color:black;
	width:400px;

}
#des {
	border:1px solid black;
	top:200px;
	left:450px;

}
